## Observations and Insights

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

# Combine the data into a single dataset
combined_data = pd.merge(mouse_metadata, study_results, how="outer", on="Mouse ID")
combined_data

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [2]:
# Checking the number of mice in the DataFrame.

unique_mice = set(combined_data["Mouse ID"])    
unique_mice_count = len(unique_mice) 
unique_mice_count

249

In [3]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 
combined_data.groupby("Mouse ID")["Timepoint"].apply(list)

Mouse ID
a203    [0, 5, 10, 15, 20, 25, 30, 35, 40, 45]
a251    [0, 5, 10, 15, 20, 25, 30, 35, 40, 45]
a262    [0, 5, 10, 15, 20, 25, 30, 35, 40, 45]
a275    [0, 5, 10, 15, 20, 25, 30, 35, 40, 45]
a366                [0, 5, 10, 15, 20, 25, 30]
                         ...
z435                                [0, 5, 10]
z578    [0, 5, 10, 15, 20, 25, 30, 35, 40, 45]
z581    [0, 5, 10, 15, 20, 25, 30, 35, 40, 45]
z795    [0, 5, 10, 15, 20, 25, 30, 35, 40, 45]
z969    [0, 5, 10, 15, 20, 25, 30, 35, 40, 45]
Name: Timepoint, Length: 249, dtype: object

In [4]:
variable = combined_data.groupby(["Drug Regimen", "Timepoint"]).std()["Tumor Volume (mm3)"]
variable_df = pd.DataFrame(variable)
variable_df

                        Tumor Volume (mm3)
Drug Regimen Timepoint
Capomulin    0                    0.000000
             5                    2.242964
             10                   3.513422
             15                   4.108369
             20                   4.362915
...                                    ...
Zoniferol    25                   2.410052
             30                   3.098552
             35                   3.297993
             40                   3.736102
             45                   3.755037

[100 rows x 1 columns]

In [5]:
# Optional: Get all the data for the duplicate mouse ID. 
data_columns = combined_data.columns
#data_columns
combined_data.groupby("Mouse ID")[data_columns].apply(list)

Mouse ID
a203    [Mouse ID, Drug Regimen, Sex, Age_months, Weig...
a251    [Mouse ID, Drug Regimen, Sex, Age_months, Weig...
a262    [Mouse ID, Drug Regimen, Sex, Age_months, Weig...
a275    [Mouse ID, Drug Regimen, Sex, Age_months, Weig...
a366    [Mouse ID, Drug Regimen, Sex, Age_months, Weig...
                              ...
z435    [Mouse ID, Drug Regimen, Sex, Age_months, Weig...
z578    [Mouse ID, Drug Regimen, Sex, Age_months, Weig...
z581    [Mouse ID, Drug Regimen, Sex, Age_months, Weig...
z795    [Mouse ID, Drug Regimen, Sex, Age_months, Weig...
z969    [Mouse ID, Drug Regimen, Sex, Age_months, Weig...
Length: 249, dtype: object

In [6]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.

In [7]:
# Checking the number of mice in the clean DataFrame.

## Summary Statistics

In [8]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume
#for each regimen
clinical_mean = combined_data.groupby(["Drug Regimen"]).mean()["Tumor Volume (mm3)"]
clinical_median = combined_data.groupby(["Drug Regimen"]).median()["Tumor Volume (mm3)"]
clinical_variance = combined_data.groupby(["Drug Regimen"]).var()["Tumor Volume (mm3)"]
clinical_stddev = combined_data.groupby(["Drug Regimen"]).std()["Tumor Volume (mm3)"]
clinical_sem = combined_data.groupby(["Drug Regimen"]).sem()["Tumor Volume (mm3)"]

tumor_by_regimen = pd.DataFrame({"Clinical mean":clinical_mean, "Clinical median":clinical_median, 
                                 "Clinical variance":clinical_variance, "Clinical std":clinical_stddev,
                                 "Clinical sem":clinical_sem})

tumor_by_regimen
# This method is the most straighforward, creating multiple series and putting them all together at the end.

,Clinical mean,Clinical median,Clinical variance,Clinical std,Clinical sem
Drug Regimen,,,,,
Capomulin,40.675741,41.557809,24.947764,4.994774,0.329346
Ceftamin,52.591172,51.776157,39.290177,6.268188,0.469821
Infubinol,52.884795,51.820584,43.128684,6.567243,0.492236
Ketapril,55.235638,53.698743,68.553577,8.279709,0.603860
Naftisol,54.331565,52.509285,66.173479,8.134708,0.596466
Placebo,54.033581,52.288934,61.168083,7.821003,0.581331
Propriva,52.322552,50.854632,42.351070,6.507770,0.512884
Ramicane,40.216745,40.673236,23.486704,4.846308,0.320955
Stelasyn,54.233149,52.431737,59.450562,7.710419,0.573111
Zoniferol,53.236507,51.818479,48.533355,6.966589,0.516398

In [9]:
clinical_stddev

Drug Regimen
Capomulin    4.994774
Ceftamin     6.268188
Infubinol    6.567243
Ketapril     8.279709
Naftisol     8.134708
Placebo      7.821003
Propriva     6.507770
Ramicane     4.846308
Stelasyn     7.710419
Zoniferol    6.966589
Name: Tumor Volume (mm3), dtype: float64

## Bar Plots

In [10]:
# Generate a bar plot showing the number of mice per time point for each treatment throughout the 
#course of the study using pandas. 
mice_in_time = combined_data.groupby("Timepoint")["Mouse ID"].count() 
#drugs = combined_data.unique(){"Drug Regimen"}

times =  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45]
drugs = combined_data["Drug Regimen"].unique()
drugs
pd_bar_plot = combined_data.plot.bar(x=times, y=mice_in_time)

KeyError: "None of [Int64Index([0, 5, 10, 15, 20, 25, 30, 35, 40, 45], dtype='int64')] are in the [columns]"

In [ ]:
# Generate a bar plot showing the number of mice per time point for each treatment throughout the course of the study using pyplot.

## Pie Plots

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [ ]:
# Calculate the final tumor volume of each mouse across four of the most promising treatment regimens. Calculate the IQR and quantitatively determine if there are any potential outliers.

In [ ]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [ ]:
# Generate a line plot of time point versus tumor volume for a mouse treated with Capomulin

In [ ]:
# Generate a scatter plot of mouse weight versus average tumor volume for the Capomulin regimen

## Correlation and Regression

In [ ]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen